{% extends "base.html" %}
{% block title %} Gra {% endblock %}
{% block main %}
Karta środka:
{{ topCard.id }}
<img class="cards" src="{{ url_for('static', filename='img/'+topCard.id|string+'.png') }}">
{{ topCard.suit }}, {{ topCard.value }}


<h3> Twoje karty: </h3>
    {% for card in player.hand %}
     <img class="cards" src="{{ url_for('static', filename='img/'+card.id|string+'.png') }}">
    {% endfor %}

<h3> Jakiego koloru żądasz? </h3>
<form action="{{ url_for('demand') }}" method="get" id="ace">
    {% for suit in suits %}
        <p>
         <input type="radio" name="suit" id="{{ suit }}" value="{{ suit }}">
            <label for="{{ suit }}"> {{ suit }}</label>
        </p>
    {% endfor %}
     <p>
        <input type="radio" name="suit" id="no" value="no">
    <label for="no">  Nie żądam </label>
     </p>
<button type="submit"> Dalej </button>
</form>
{% endblock %}
