<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Makao </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="light-blue">
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo"> Makao </a>
    </div>
  </div>
</nav>
  {% block header %}
  {% endblock %}
<main>
    <div class="container fluid">

    {% block main %}
    {% endblock %}
    </div>

</main>
<footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
           Interfejs graficzny - Wiktoria Łucarz
      </div>
    </div>
</footer>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>