{% extends "base.html" %}
{% block title %} Podsumowanie {% endblock %}
{% block main %}
<div class="begin">
     <div class="row">
         <div class="summary col s12">
             <div class="container fluid">
                    <h2> Podsumowanie </h2>
                      <div class="container fluid">

                    <div class="rules_summary">
                        {% if 'queen' in rules.functional_cards %}
                        <p><i class="material-icons">check</i>dodatkowa karta funkcyjna <span>  dama pik </span> </p>
                        {% endif %}
                        {% if 'joker' in rules.functional_cards %}
                        <p><i class="material-icons">check</i>dodatkowa karta funkcyjna <span>  joker </span> </p>
                        {% endif %}

                        {% if rules.putting_cards == 1 %}
                        <p> <i class="material-icons">check</i>  można wykładać <span> 1, 3 lub 4 karty </span> </p>
                        {% elif rules.putting_cards == 2 %}
                        <p> <i class="material-icons">check</i>  można wykładać  <span> 1, 2, 3 , 4 karty </span> </p>
                        {% endif %}

                        {% if rules.taking_cards == 1 %}
                        <p><i class="material-icons">check</i> po dobraniu kart <span> koniec ruchu </span> </p>
                        {% elif rules.taking_cards == 2 %}
                         <p><i class="material-icons">check</i> po dobraniu kart można <span> wyłożyć dobraną kartę </span> </p>
                        {% elif rules.taking_cards == 3 %}
                        <p> <i class="material-icons">check</i> po dobraniu kart można <span>  Wyłożyć dobraną kartę i inne </span> </p>
                        {% endif %}

                        {% if rules.valiant_cards == 1 %}
                         <p><i class="material-icons">check</i> można dokładać do kart bitnych <span>  karty o tej samej figurze </span> </p>
                        {% elif rules.valiant_cards == 2 %}
                         <p> <i class="material-icons">check</i>  można dokładać do kart bitnych <span>  karty o tej samej figurze lub kolorze </span></p>
                        {% elif rules.valiant_cards == 3 %}
                         <p><i class="material-icons">check</i> można dokładać do kart bitnych <span> karty o tej samej figurze lub kolorze<strong>
                             pod warunkiem że jest wyższa wartością </strong> </span> </p>
                        {% endif %}


                        {% if rules.end_game == 1 %}
                        <p> <i class="material-icons">check</i> koniec następuje <span> gdy w grze zostanie tylko jeden gracz </span></p>
                        {% elif rules.end_game == 2 %}
                        <p> <i class="material-icons">check</i> koniec następuje  <span> gdy pierwszy z graczy pozbęcie się kart</span></p>
                        {% endif %}

                            <div class="row">
                                <div class="col m12 submit">
                                    <a href="{{ url_for('play') }}">
                                        <button class="btn waves-effect orange" type="submit" name="action"> Rozpocznij grę </button></a>
                                </div>
                            </div>
                        </div>
                      </div>
     </div>
</div>
     </div>
</div>
{% endblock %}