{% extends "play.html" %}

        {% block picked_cards %}

        {% if picked_cards %}
            <h4> Wybrane karty </h4>
            {% for card in picked_cards %}

                    <img class="stack cards" src="{{ url_for('static', filename='img/'+card.id|string+'.png') }}">
                    {% if card.joker and card.value != 0 %} <br>
                    <p>Joker: {{ values[card.value] }} {{ card.suit }} </p>
                    {% endif %}
            {% endfor %}
            <div class="col s12">
                        <a href="?end=True"><button class="throw waves-effect orange btn"> Rzuć </button></a><br>
            </div>

        {% endif %}

        {% endblock %}

{% block my_cards %}
<div class="players_cards row">
    <h4>{{ player.name }} ({{ player.hand|length}} kart) </h4>
    <div class="col s8 offset-s2">
        {% for card in player.hand %}
        <a href="?value={{ loop.index-1 }}">
        <img class="pickable cards" src="{{ url_for('static', filename='img/'+card.id|string+'.png') }}">
        </a>
        {% if card.joker and card.value != 0 %} <br>
        <p>Joker: {{ values[card.value] }} {{ card.suit }} </p>
        {% endif %}
        {% endfor %}
    </div>

    {% block option %}
    {% if not picked_cards %}
    <p style="font-style:italic; text-align:center;"> Kliknij w karty które chcesz wyrzucić lub dobierz karty.
    <div class="col s2">
    <a href="{{ url_for('take') }}"><button class="waves-effect light-blue btn put"> Bierz </button></a>
    </div>
    {% endif %}
    {% endblock %}

</div>
{% endblock %}

