{% extends "base.html" %}
{% block title %} Gra {% endblock %}
{% block main %}

Karta środka:
{{ topCard.id }}
<img class="cards" src="{{ url_for('static', filename='img/'+topCard.id|string+'.png') }}">
{{ topCard.suit }}, {{ topCard.value }}
<br>

{% if pickedCards %}
{{ pickedCards }}
{% endif %}

<br>

    {% for card in player.hand %}
    <a href="?value={{ loop.index-1 }}"><img class="cards" src="{{ url_for('static', filename='img/'+card.id|string+'.png') }}"></a>
        {% if card.joker and card.value != 0 %}

        Ten Joker to teraz umownie: {{ values[card.value] }} {{ card.suit }}

    {% endif %}
    {% endfor %}
    <a href="?end=True"><button> Koniec </button></a>

{% endblock %}