{% extends "base.html" %}
{% block title %} Gra {% endblock %}

{% block header %}
       <div class="card-panel blue lighten-3">
           <h3> Kolejka#{{game.counter+1 }} : {{ player.name }} </h3>
</div>
{% endblock %}

{% block main %}

{% block competitors %}
    <div class="competitors row">
         {% for competitor in competitors %}
            <div class="col s12 m{{ 12//competitors|length}}">
                <h4> {{ competitor.name }} ({{ competitor.hand|length }} kart) </h4>
                {% for card in competitor.hand %}
                    <img class="competitors_cards" src="{{ url_for('static', filename='img/55.png') }}">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block table %}
        <div class="table row">
            <div class="container fluid">
            <div class="top_card col s3 offset-s3">
            <img class="cards" src="{{ url_for('static', filename='img/'+topCard.id|string+'.png') }}">
                {% if topCard.joker %}
                    <br><p class="joker_notification"> Joker: {{ values[topCard.value] }} {{ topCard.suit }} </p>
                {% endif %}
            </div>

            <div class="deck col s6">
                <img class="cards" src="{{ url_for('static', filename='img/57.png') }}">
                <p class="deck_notification">  Zostało: {{ game.deck.cards|length }} kart </p>
            </div>
        </div>
        </div>

        {% block state %}
            <div class="row">
                <div class="col s12">
                    <div class="container fluid">
                        {% if game.state.type %}
                            <p class="info"> <b> Informacje </b>: {{ game.state }}
                                {% if game.state.type == 'aceDemand' or game.state.type == 'jackDemand' %}
                                    Żądanie: {{ game.state.value }}
                                    {% elif game.state.type == 'delay' %}
                                    {{ game.state.value }}  kolejek do stracenia
                                    {% elif game.state.type == 'valiant' %}
                                    {{ game.state.value }}  kart do dobrania
                                {% endif %}
                            </p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block flashes %}
            <div class="row picked">
                <div class="col s12">
                      <div class="container fluid">
                         {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                          <li style="color:red;text-align:center;">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                      </div>
                </div>
            </div>
         {% endblock %}

        <div class="row picked">
            <div class="col s12">
                  <div class="container fluid">
                     {% block picked_cards %} {% endblock %}
                  </div>
            </div>
        </div>



{% endblock %}

{% block my_cards %}
 {% block option %}
    {% endblock %}
{% endblock %}



{% endblock %}