{% extends "base.html" %}
{% block title %} Gra {% endblock %}
{% block main %}


<h2> Gra użytkownik: {{ player.name }} </h2>
<b> Informacje </b>
<p> Kolejka nr. {{ game.counter+1 }} </p>
<p> Stan gry: {{ game.state }} </p>
<p> W talii zostało: {{ game.deck.cards|length }} </p>
{% for competitor in competitors %}
<p> Twój przeciwnik {{ competitor.name }} ma {{ competitor.hand|length }} kart </p>
{% endfor %}

Karta środka:
{{ topCard.id }}
<img class="cards" src="{{ url_for('static', filename='img/'+topCard.id|string+'.png') }}">
{{ topCard.suit }}, {{ topCard.value }}
<br>
{% if topCard.joker %}
Ten Joker to umownie: {{ values[topCard.value] }} {{ topCard.suit }}
{% endif %}


<h3> Twoje karty: </h3>
    {% for card in player.hand %}
     <img class="cards" src="{{ url_for('static', filename='img/'+card.id|string+'.png') }}">
    {% endfor %}


<h3> Co chcesz zrobić? </h3>
<a href="{{ url_for('pick_cards') }}"><button> Rzuć </button></a>

<a href="{{ url_for('take') }}"><button> Bierz </button></a>
{% endblock %}