{% extends "base.html" %}
{% block title %} Liczba komputerów {% endblock %}
{% block main %}

<div class="start">
     <div class="row">
         <div class="col s6 offset-s3">
                <h2> Liczba komputerów </h2>
                    <form action="{{url_for('players_computers')}}" method="get">
                        {% for i in range(1,5-players_number) %}
                            <input type="radio" name="computers_number" value="{{ i }}" id="{{ i }}">
                            <label for="{{ i }}">{{ i }}</label>
                        {% endfor %}
                        <div class="submit">
                              <button type="submit" class="waves-effect orange btn">Dalej</button>
                        </div>
                    </form>
         </div>
     </div>
</div>

{%endblock %}