{% extends "base.html" %}
{% block title %} Zasady gry {% endblock %}
{% block main %}
<div class="rules">
    <h2> Wybierz zasady gry </h2>
    <div class="col s12">

    <form action="{{url_for('rules')}}" method="post">
        <div>
        <div class="row">
            <div class="col s12 m6">
                <h3> Dodatkowe karty funkcyjne </h3>
              <p><input name="functional_cards" type="checkbox" id="queen" value="queen" checked>
                  <label for="queen"> dama pik </label>
              </p>
            <p>
             <input name="functional_cards" type="checkbox" id="joker" value="joker">
             <label for="joker"> joker </label>
         </p>
            </div>
            <div class="col s12 m6">
                <h3> Wykładanie kart </h3>
                 <p>
                     <input name="putting_cards" type="radio" id="putting_cards_1" value="1" checked>
                     <label for="putting_cards_1"> 1, 3 , 4 </label>
                 </p>
                 <p>
                      <input name="putting_cards" type="radio" id="putting_cards_2" value="2">
                            <label for="putting_cards_2"> 1, 2, 3, 4 </label>
                 </p>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m6">
                <h3> Dokładanie kart bitnych </h3>
             <p>
                 <input name="valiant_cards" type="radio" id="valiant_cards_1" value="1">
                 <label for="valiant_cards_1"> karty o tej samej figurze </label></p>
             <p>
                <input name="valiant_cards" type="radio" id="valiant_cards_2" value="2" checked>
                 <label for="valiant_cards_2"> karty o tej samej figurze lub kolorze </label>
             </p>
             <p>
                 <input name="valiant_cards" type="radio" id="valiant_cards_3" value="3">
                 <label for="valiant_cards_3"> karty o tej samej figurze lub kolorze<strong> pod warunkiem że jest wyższa wartością </strong> </label>
             </p>
        </div>
                <div class="col s12 m6">
               <h3> Dobieranie kart </h3>
                <p>
                    <input name="taking_cards" type="radio" id="taking_cards_1" value="1">
                    <label for="taking_cards_1"> koniec ruchu </label>
                </p>
                <p>
                    <input name="taking_cards" type="radio" id="taking_cards_2" value="2" checked>
                    <label for="taking_cards_2"> można dołożyć wyciągniętą kartę </label>
                </p>
                <p>
                     <input name="taking_cards" type="radio" id="taking_cards_3"  value="3">
                    <label for="taking_cards_3"> można dołożyć wyciągniętą kartę i inne  </label>
                </p>
         </div>
        </div>

        <div class="row">

         <div class="end col m6 offset-m3 s12">
             <h3> Koniec gry </h3>
             <p>
                 <input name="end_game" type="radio" id="end_game_1" value="1" checked>
                 <label for="end_game_1"> gdy w grze zostanie 1 gracz </label>
             </p>
             <p>
                 <input name="end_game" type="radio" id="end_game_2" value="2">
                 <label for="end_game_2">gdy pierwszy z graczy pozbęcie się kart </label>
             </p>
         </div>
        </div>
        <div class="row">
            <div class="col m12 s12 submit">
               <button class="btn waves-effect orange" type="submit" name="action">Zapisz</button>
        </div>
        </div>
        </div>
    </form>
    </div>
 </div>
</div>







{% endblock %}