{% extends "play.html" %}

{% block my_cards %}
<div class="players_cards row">
    <h4>{{ player.name }} </h4>
    <div class="col s8 offset-s2">
        {% for card in player.hand %}
         <div class="picked-card">
                    <img class="cards" src="{{ url_for('static', filename='img/'+card.id|string+'.png') }}">
                    {% if card != new_card %}
                        <div class="hover"></div>
                    {% endif %}
                </div>
        {% endfor %}
    </div>

    {% block option %}
    <div class="col s2">
        {% if rules.taking_cards == 1%}
            <a href="{{ url_for('next_player') }}"><button class="waves-effect light-blue btn put">  Dalej </button></a><br>
        {% else %}
                <p> Chcesz wyrzucić nową kartę? </p>
            <a href="?answer=yes"><button class="waves-effect orange btn put"> Tak </button></a>
                <a href="?answer=no"><button class="waves-effect light-blue btn take"> Nie </button></a>
        {% endif %}
    </div>
    {% endblock %}

</div>
{% endblock %}







