body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
}

nav {
margin-bottom: -25px;
z-index:100;
}

.card-panel{
    text-align:center;
}

.card-panel h3,p {
margin: 10px 5px 0;
}

.start{
margin:15% auto;
width: 80%;
text-align:center;
}

.start h2{
font-size:46px;
}

h2{
font-size: 38px;
text-align:center;
}

h3{
font-size:20px;
}

h4 {
font-size:16px;
}

.begin{
    margin: 5% auto;
    width:95%;
    text-align: center;
}

.rules{
    margin: 5% auto;
    width:75%;
}

.rules>div{
flex:center;
}

.rules form{
padding: 5px auto;
border:1px solid #ff9800;
border-radius: 5%;
}

form > div {
padding: 5% 10%;
}

form div .row div p,
form div .row div h3 {
    padding-left:10%;
    text-align: left;
}

form>div>div>div:last-child,
form div .row div.end>h3{
text-align:center;
}


.submit{
    margin: 5% 2% auto;
    text-align:center;
}

.summary {
text-align:left;
}

i {
color: #ff9800;
}

.summary span {
    color:#ffa726;
}

.players{
color:#ffa726;
font-size:20px;
text-align:center;
}

.rules-summary{
padding-left:30%;
}

img.cards {
    height:180px;
    width:120px;
}

img.stack{
    margin-left:-90px;
    display:inline-block;
    float:left;
}

.picked-card{
height:180px;
width:120px;
display:inline-block;
position:relative;
float:left;
margin-left:5px;
}

.hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    width: 120px;
    border-radius: 11px;
    background-color:rgba(0,0,0,0.4);
    z-index: 2;
}


img.pickable.cards:hover {
    border: 2px solid #03a9f4;
    border-radius: 11px;
}

.competitors_cards {
    height:120px;
    width:80px;
    margin-left:-50px;
}

.competitors {
text-align:center;
font-weight:400;
}

.table {
margin-top: 5%;
margin-bottom: 5%;
}

.take {
margin-top: 5%;
width:160px;
}

.put {
margin-top:40%;
width:160px;
}

.throw{
margin:5% auto;
text-align:center;
}

.players_cards h4 {
text-align:center;
font-weight:600;
}

select {
    display:block;
}

.info {
    text-align:center;
}

.info,ul .flashes {
    font-weigh: 500;
    color:red;
}

.winners{
text-align:center;
font-size:25px;
}